*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: rgb(248, 248, 248);
}
/*------------------------------------------- KAPSAYİCİ KİSMİ  --------------------------------------------*/
.container
{
    position: relative;
    width: 1440px;
    height: 692px;
    margin: 0 auto;
    background-color:white;
    margin-top: 100px;
}

/*---------------------------------------------- İCERİKLER KİSMİ ---------------------------------------------- */
.contents
{
    position: relative;
    width: 1110px;
    height: 532px;
    margin: 0 auto;
    margin-top: 80px;
    margin-left: 165px;   
}

/* ----------------------------------------------------- SOL KAPSAYİCİ KİSMİ ------------------------------------*/

.left-content 
{ 
    width: 455px;
    height: 416px;
    display: inline-block;
    float: left;
    margin-top:165px;
}

.left-content .title 
{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -0.7px;
    width: 459px;
    height: 149px;
}

.left-content .title-texts
{
    font-family:sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0;
    width: 459px;
    height: 96px;
    margin-bottom: 15px;
} 

.left-content .pricing-container
{
    width: 232px;
    height: 48px;
    margin-bottom: 25px;
}

.left-content .pricing-container .main-price
{
    width: 142px;
    height: 48px;
    margin-top: 272px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.4px;
}

.left-content .pricing-container .discounted-price
{
    width: 79px;
    height: 34px;
    margin-top: 279px;
    margin-left: 6px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    line-height: 34px;
    letter-spacing: 0;
    text-decoration: line-through;
    color: #C4C4C4;   
}

.left-content .btn
{
    width: 281px;
    height: 64px;
    border-radius: 3px;
    padding: 16px 40px 16px 40px;
    background-color: #0D6EFD;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-weight: 600px;
    font-size: 23px;
    line-height: 32px;
}

/*--------------------------------------------------- RİGT İMG KISMI ---------------------------------------------------*/
.right-img-container
{
    width: 650px;
    height: 532px;
    display: inline-block;
    margin-top: 75px;
}

.right-img-container .img1
{
    position: absolute;
    z-index: 99;
    margin-left: 125px;    
    margin-top: 102px;    
}

.right-img-container .img2
{
    position: absolute;
    z-index: 98;   
    margin-top: 73px;  
}